<div class="wrap">

    <div class="row koncert">
        <div class="col-md-6 centriraj">
            <img class="img1" id="k1" onmouseover="m1()" src="http://www.spanac.rs/images/aktuelno/aktuelno-23-12-L.jpg"/>
        </div>



        <div class="col-md-6 centriraj">
            <img class="img2" id="k2" onmouseover="m2()" src="http://www.spanac.rs/images/aktuelno/dan-drustva-2016-L.jpg"/>
        </div>
    </div>
    <div class="row koncert1">
        <div class="col-md-6 centriraj">
            <img class="img3" id="k3" onmouseover="m3()" src="http://www.spanac.rs/images/aktuelno/audicija-2016-L.jpg"/>
        </div>

        <div class="col-md-6 centriraj">
            <img class="img4" id="k4" onmouseover="m4()" src="http://www.spanac.rs/images/aktuelno/oprostaj-od-semestra-2016-L.jpg"/>
        </div>
    </div>
</div>
